In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('nuki.csv')

In [3]:
df.head(4)

  Unnamed: 0
0          0
1         巨乳
2         素人
3       女子校生

In [4]:
df.mean()

Series([], dtype: float64)