In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [4]:
r = requests.get(url)

In [5]:
r.text

'<!DOCTYPE html>\n<html lang="en" dir="ltr">\n<head>\n  <meta charset="utf-8">\n  <title>Webスクレイピング入門者のためのサイト</title>\n  <!-- Compiled and minified CSS -->\n  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">\n  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> \x08\n  <link rel="stylesheet" href="static/assets/css/style.css">\n  <link rel="stylesheet" href="static/assets/css/udemy.css">\n  <!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->\n</head>\n\n<body>\n  <!-- Navbar -->\n  <div class="navbar-fixed">\n    <!-- Dropdown Structure -->\n    <nav class="">\n      <div class="nav-wrapper row">\n        <div class="col s5 l4 offset-s1 offset-l1">\n          <a href="\x08/" class="brand-logo">Webスクレイピング入門</a>\n        </div>\n        <div class="col s5 l6">\n          <ul id="nav-mobile" class="right hide-on-med-and-down">\n            <li><a href="\x08/login_page" class="">ログイン</a></li>\n            <li><a href="/ranking/" class="">ランキング</a></li>\n            <li><a href="/image" class="">画像</a></li>\n            <li><a href="/udemy" class="">Udemy</a></li>\n            <li><a href="https://scraping-for-beginner.readthedocs.io/" target=”_blank” class="">サンプルコード</a></li>\n          </ul>\n        </div>\n      </div>\n    </nav>\n  </div>\n\n  \n\n<div class="row">\n  <div class="col s4 offset-s4">\n    <div class="overview">\n      <p>\n      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。\n      </p>\n    </div>\n    <div class="">\n      <div class="">\n        <div class="card">\n          <div class="card-image">\n            <img src="/static/assets/img/self-introduction.jpg">\n            <span class="card-title">今西 航平</span>\n          </div>\n          <div class="card-content">\n            <p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br>\n\n              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br>\n\n            </p>\n          </div>\n          <div class="card-action">\n              <p class="subscribers">受講生の数：6515</p>\n              <p class="reviews">レビューの数：890</p>\n          </div>\n        </div>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n\n  <!-- Compiled and minified JavaScript -->\n  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>\n  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>\n  <script type="text/javascript">\n    $(document).ready(function() {\n      $(".dropdown-trigger").dropdown();\n    });\n  </script>\n\n\n</body>\n\n</html>'

In [6]:
soup = BeautifulSoup(r.text,'html.parser')

In [7]:
soup

<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>Webスクレイピング入門者のためのサイト</title>
<!-- Compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
  <link href="static/assets/css/style.css" rel="stylesheet"/>
<link href="static/assets/css/udemy.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->
</head>
<body>
<!-- Navbar -->
<div class="navbar-fixed">
<!-- Dropdown Structure -->
<nav class="">
<div class="nav-wrapper row">
<div class="col s5 l4 offset-s1 offset-l1">
<a class="brand-logo" href="/">Webスクレイピング入門</a>
</div>
<div class="col s5 l6">
<ul class="right hide-on-med-and-down" id="nav-mobile">
<li><a class="" href="/login_page">ログイン</a></li>
<li><a class="" href="/ranking/">ランキング</a></li>
<li><a class="" href="/image">画像</a></li>
<li><a class="" href="/udemy">Udemy</a></li>
<li><a class="" href="https://scraping-for-beginner.readthedocs.io/" target="”_blank”">サンプルコード</a></li>
</ul>
</div>
</div>
</nav>
</div>
<div class="row">
<div class="col s4 offset-s4">
<div class="overview">
<p>
      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。
      </p>
</div>
<div class="">
<div class="">
<div class="card">
<div class="card-image">
<img src="/static/assets/img/self-introduction.jpg"/>
<span class="card-title">今西 航平</span>
</div>
<div class="card-content">
<p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br/>

              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br/>
</p>
</div>
<div class="card-action">
<p class="subscribers">受講生の数：6515</p>
<p class="reviews">レビューの数：890</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-trigger").dropdown();
    });
  </script>
</body>
</html>

In [8]:
#取得したいデータのCSSクラス名を打ち込む
name = soup.select('.card-title')[0].string

In [9]:
student = soup.select('.subscribers')[0].string

In [10]:
student

'受講生の数：6515'

In [11]:
review = soup.select('.reviews')[0].string

In [12]:
review

'レビューの数：890'

In [13]:
student = int(student.split('：')[1])

In [14]:
review  = int(review.split('：')[1])

In [15]:
results = {
    'name':name,
    'student':student,
    'review':review
}

In [16]:
results

{'name': '今西 航平', 'student': 6515, 'review': 890}

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('assets/data.csv')

In [19]:
df

         data       date  review  reviews  student  subscribers
0         NaN  2019/1/17     NaN    194.0      NaN       2671.0
1         NaN  2019/1/18     NaN    195.0      NaN       2671.0
2         NaN  2019/1/19     NaN    197.0      NaN       2674.0
3         NaN  2019/1/20     NaN    199.0      NaN       2685.0
4         NaN  2019/1/21     NaN    199.0      NaN       2695.0
..        ...        ...     ...      ...      ...          ...
405       NaN  2020/2/27     NaN    872.0      NaN       6470.0
406       NaN  2020/2/28     NaN    873.0      NaN       6482.0
407       NaN  2020/2/29     NaN    876.0      NaN       6495.0
408  2020/3/1        NaN   878.0      NaN   6502.0          NaN
409  2020/3/1        NaN   878.0      NaN   6502.0          NaN

[410 rows x 6 columns]

In [20]:
df.tail()

         data       date  review  reviews  student  subscribers
405       NaN  2020/2/27     NaN    872.0      NaN       6470.0
406       NaN  2020/2/28     NaN    873.0      NaN       6482.0
407       NaN  2020/2/29     NaN    876.0      NaN       6495.0
408  2020/3/1        NaN   878.0      NaN   6502.0          NaN
409  2020/3/1        NaN   878.0      NaN   6502.0          NaN

In [21]:
df.head(3)

  data       date  review  reviews  student  subscribers
0  NaN  2019/1/17     NaN    194.0      NaN       2671.0
1  NaN  2019/1/18     NaN    195.0      NaN       2671.0
2  NaN  2019/1/19     NaN    197.0      NaN       2674.0

In [22]:
import datetime

In [23]:
data = datetime.datetime.today().strftime('%Y/%-m/%-d')

In [24]:
students = results['student']
reviews = results['review']

In [25]:
reviews

890

In [26]:
students

6515

In [27]:
results = pd.DataFrame([[data,students,reviews]],columns=['data','student','review'])

In [28]:
df = pd.concat([df,results])

/Users/macuser/.pyenv/versions/3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [29]:
df.to_csv('assets/data.csv',index=False)

In [30]:
df

         data       date  review  reviews  student  subscribers
0         NaN  2019/1/17     NaN    194.0      NaN       2671.0
1         NaN  2019/1/18     NaN    195.0      NaN       2671.0
2         NaN  2019/1/19     NaN    197.0      NaN       2674.0
3         NaN  2019/1/20     NaN    199.0      NaN       2685.0
4         NaN  2019/1/21     NaN    199.0      NaN       2695.0
..        ...        ...     ...      ...      ...          ...
406       NaN  2020/2/28     NaN    873.0      NaN       6482.0
407       NaN  2020/2/29     NaN    876.0      NaN       6495.0
408  2020/3/1        NaN   878.0      NaN   6502.0          NaN
409  2020/3/1        NaN   878.0      NaN   6502.0          NaN
0    2020/3/3        NaN   890.0      NaN   6515.0          NaN

[411 rows x 6 columns]

In [31]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'
    r = requests.get(url)
    soup = BeautifulSoup(r.text,'html.parser')
    name = soup.select('.card-title')[0].string

    student = soup.select('.subscribers')[0].string
    student = int(student.split('：')[1])

    review = soup.select('.reviews')[0].string
    review = int(review.split('：')[1])

    results = {
        'name':name,
        'student':student,
        'review':review
    }
    return results

In [32]:
get_udemy_info()

{'name': '今西 航平', 'student': 6515, 'review': 890}

In [33]:
def write_data():
    df = pd.read_csv('assets/data.csv')
    data = datetime.datetime.today().strftime('%Y/%-m/%-d')
    _result = get_udemy_info()

    student = _result['student']
    review = _result['review']
    results = pd.DataFrame([[data,student,review]],columns=['data','student','review'])

    df = pd.concat([df,results])
    df.to_csv('assets/data.csv',index=False)
    return df

In [34]:
write_data()

/Users/macuser/.pyenv/versions/3.7.4/lib/python3.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

         data       date  review  reviews  student  subscribers
0         NaN  2019/1/17     NaN    194.0      NaN       2671.0
1         NaN  2019/1/18     NaN    195.0      NaN       2671.0
2         NaN  2019/1/19     NaN    197.0      NaN       2674.0
3         NaN  2019/1/20     NaN    199.0      NaN       2685.0
4         NaN  2019/1/21     NaN    199.0      NaN       2695.0
..        ...        ...     ...      ...      ...          ...
407       NaN  2020/2/29     NaN    876.0      NaN       6495.0
408  2020/3/1        NaN   878.0      NaN   6502.0          NaN
409  2020/3/1        NaN   878.0      NaN   6502.0          NaN
410  2020/3/3        NaN   890.0      NaN   6515.0          NaN
0    2020/3/3        NaN   890.0      NaN   6515.0          NaN

[412 rows x 6 columns]